<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.szy.dao.ManagerDao">
	
	
	<select id="findByName" parameterType="String" resultType="Manager">
		select * from Manager where name = #{name}
	</select>
	
	
</mapper>